/* Gallery Styles */

#motioncontainer {
    /*margin:0 auto;  Uncomment this line if you wish to center the gallery on page */
    width: 100%; /* Set to gallery width, in px or percentage */
    height: 205px; /* Set to gallery height */
    background-color: black;
    text-align: center;
    position:relative;
    overflow: hidden
}

#motioncontainer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#motioncontainer li{
    margin: 0;
    padding: 0;
    display: inline;
}

#motioncontainer a img {
    margin: 0;
    padding: 0;
    height:200px;
    border: 2px solid #cccccc; /* Set image border color */
}

#motioncontainer a:hover img {
    opacity: 0.7;
    border: 2px solid navy; /* Set image border hover color */
}

#statusdiv {
    background-color: #ffffff;
    border: 1px solid gray;
    padding: 2px;
    position: absolute; /* Stop Editing Gallery Styles */
    left: -300px;
    visibility: hidden;
}

#motioncontainer a:hover {
    color: red; /* Dummy definition to overcome IE bug */
}
/* End Gallery Styles */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    height: 80%;
    /*max-width: 700px;*/
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #f6eff0;
    padding: 10px ;
    height: 35px;
}

#modelButtons {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
    text-align: left;
    color: #f6eff0;
    padding: 20px 0;
    height: 15px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/** the Map Object **/
#wrap { position:static; left:0; width:100%; top:0; height:100%; }
#iframe { display: block; width:100%; height:500px; }
#map {
    height: 600px;
    position: relative;
    width: 100%;
    margin-top: 2px;
}

.maps-frame {
    height: 600px;
    width: 100%;
}

